body{
  font-family: Arial;
  background:#f4f4f4;
}

.container{
  width:400px;
  margin:100px auto;
  text-align:center;
}

input{
  padding:10px;
  width:70%;
}

button{
  padding:10px;
  margin-left:5px;
  cursor:pointer;
}

ul{
  list-style:none;
  padding:0;
}

li{
  background:white;
  margin-top:10px;
  padding:10px;
  display:flex;
  justify-content:space-between;
}

.done{
  text-decoration:line-through;
  color:gray;
}